{{- $objectives := .Params.objectives -}}
{{- $prerequisites := .Params.prerequisites -}}
{{- if or $objectives $prerequisites -}}
  <div class="lesson-meta">
    {{- with $objectives -}}
      <div>
        <strong>{{ i18n "objectives" }}</strong>
        <ul>{{ range . }}<li>{{ . }}</li>{{ end }}</ul>
      </div>
    {{- end -}}
    {{- with $prerequisites -}}
      <div>
        <strong>{{ i18n "prerequisites" }}</strong>
        <ul>{{ range . }}<li>{{ . }}</li>{{ end }}</ul>
      </div>
    {{- end -}}
  </div>
{{- end -}}
