{{- $target := default (.Get 0) (.Get "id") -}}
{{- if not $target -}}
  {{- errorf "xref shortcode requires an id: %s" .Position -}}
{{- end -}}
{{- $target = $target | anchorize -}}
{{- $customLabel := .Get "label" -}}
{{- $label := $customLabel -}}
{{- if not $label -}}
  {{- with .Page.Scratch.Get "crossReferenceLabels" -}}
    {{- with index . $target -}}
      {{- $label = . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
<a class="cross-reference" href="#{{ $target }}"{{ if not $customLabel }} data-cross-reference="{{ $target }}"{{ end }}>{{ default "参照" $label }}</a>
